
font-face{
    font-family: "Montserrat";
    src: url(../Montserrat/static/Montserrat-Italic.ttf);
}
font-face{
    font-family: "Montserrat bold";
    src: url(../Montserrat/static/Montserrat-Bold.ttf);
}
font-face{
    font-family: "opan sans bold";
    src: url(../Open_Sans/static/OpenSans_Condensed-Bold.ttf);
}
